$modal-width: 450px;
$modal-min-width: 350px;
$modal-height: 250px;

$modal-top: calc(50vh - 150px);
$modal-left: calc(50vw - 225px);

$modal-background-color: #1d2428;

$text-color: #eeeeee;
$background-color: #435571;

$button-width: 140px;
$button-height: 40px;
$button-text-size: 16px;
$button-background-color: #435571;
$button-background-color-hover: #98aed3;

$field-border-color: #435571;