body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: $text-color;
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow: hidden;
}

.button {
    cursor: pointer;
    outline: 0;
    width: $button-width;
    height: $button-height;
    color: $text-color;
    background-color: $button-background-color;
    font-size: $button-text-size;
    border: 0;
    transition: all ease 0.3s;

    &:hover {
        background-color: $button-background-color-hover;
    }

    &:disabled {
        cursor: initial;
        background-color: $button-disabled-color;
    }

    &--red {
        background-color: $button-warning-background-color;
    }
}

.field {
    height: 30px;
    background-color: transparent;
    font-size: 18px;
    color: $text-color;
    padding: 0 10px;
    border: 0;
    border-bottom: 2px solid $field-border-color;
    outline: 0;
    margin: 10px 0;
}

.checker__label {
    position: relative;
}

.checker__box {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checker__span {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 24px;
    width: 24px;
    background-color: transparent;
    border-radius: 5px;
    border: 2px solid white;
}

.checker__span:after {
    position: absolute;
    content: '';
    left: 12px;
    top: 12px;
    height: 0;
    width: 0;
    border-radius: 5px;
    border: solid $background-color;
    border-width: 0;
    transform: rotate(0deg), scale(0);
    opacity: 1;
}

.checker__box:checked + .checker__span {
    background-color: white;
    border-radius: 5px;
    transform: rotate(0deg) scale(1);
    opacity: 1;
    border: 2px solid white;
}

.checker__box:checked + .checker__span:after {
    transform: rotate(45deg) scale(1);
    opacity: 1;
    left: 8px;
    top: 3px;
    width: 6px;
    height: 12px;
    border: solid $background-color;
    border-width: 0 2px 2px 0;
    background-color: transparent;
    border-radius: 0;
}

.checker__span {
    transition: all 0.3s ease;
}

.checker__span::after {
    transition: all 0.3s ease;
}

// .checker__label .checker__box .checker__span:after